<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>OrpheusDB Demonstration</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "/dist/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static "/assets/css/ie10-viewport-bug-workaround.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "dashboard.css" %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static "/assets/js/ie-emulation-modes-warning.js" %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>
     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">OrpheusDB</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="#"><strong>Collaborative Versioned Datasets (CVDs)</strong></a></li>
            {% if cvds %}
              {% for cvd in cvds %}
                <li><a href="#"> {{cvd}} </a></li>
              {% endfor %}
            {% endif %}
<!--             <li><a href="#"> - Interaction</a></li>
            <li><a href="#"> - </a></li>
            <li><a href="#"> - </a></li> -->
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href=""><b>Private Files</b></a></li>
            <form action="." method="post"> {% csrf_token %}
              {% if files %}
                {% for f in files %}
                  <!-- <li><a href="#"> - {{f.name}} </a></li> -->
             <!--      <button type="submit" name="private_file" id="private_file" class="btn-link" onclick="get_selected_file()"> - {{f.name}} </button> -->
                 <input id="private_file" type="submit" class="btn-link" name="private_file" value={{f.name}}>
                  <input type="hidden" name="selected_fname" id="selected_fname" />
                {% endfor %}
              {% endif %}
            </form>
<!--             <li><a href=""> - Interaction_v1.csv</a></li>
            <li><a href=""> - Interaction_v4.csv</a></li> -->
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href=""><b>Private Tables</b></a></li>
            {% if tables %}
              {% for t in tables %}
                <li><a href="#"> {{t.name}} </a></li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>
        <div class="col-sm-5 col-sm-offset-3 col-md-5 col-md-offset-2">
          <h2 class="sub-header">Command Input</h2>
            <div class="form-group">
              <form action="." method="post"> {% csrf_token %}

              <label for="commandTextArea"></label>
                <p>Please enter either the SQL or the version control command below:</p>
                <textarea class="form-control" name ="cmdText" id ="cmdText" rows="5">{% if cmd_string %}{{cmd_string}}{% endif %}</textarea></br>
                <input type="submit" class="btn btn-primary" name = "command" value="Submit" />
                <input type="submit" class="btn btn-primary" name = "explain" value="Explain" />
              </form>
            </div>


          <h2 class="sub-header" style="margin-top:50px" >Output Results</h2>
          <div class="table-responsive" style="height:450px; overflow:auto;">

          {% if messages %}
            <ul class="messages">
              {% for message in messages %}

   <!--              {% if message.tags == 'SQL' %}
                  <pre {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message| linebreaks }} </pre>
                {% else %}
                  <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{message}} </li>
                {% endif %} -->
              <!-- <li{% if message.tags %} class="{{ message.tags }}"{% endif %}> -->
                 <!-- hacky way to distinguish explained sql with other commands -->
                 {% if message.tags == 'success' %} 
                    <pre> {{ message| linebreaks }} </pre>
                 {% else %}
                    <li> {{ message| linebreaks }} </li>
                  {% endif %}
              <!-- </li> -->
             {% endfor %} 
            </ul>
          {% endif %}

            {% for attr_names, transactions in table_list %}
              <table class="table table-striped">
                {% if attr_names %}
                  <thead>
                    <tr>
                      {% for attr in attr_names %}
                      <th>{{attr}}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                {% endif %}

                {% if transactions %}
                  <tbody>
                    {% for row in transactions %}
                    <tr>
                      {% for col in row %}
                        <td style="white-space:nowrap;"> {{col}}</td>
                      {% endfor %}
                    </tr>
                    {% endfor %}
                  </tbody>
                {% endif %}
                 
              </table>
            {% endfor %}
            
          </div>
        </div>

        <div class="col-sm-5 col-md-5" id = "viz">
          <h2 class="sub-header">Version Visualization</h2>
          <script src="http://d3js.org/d3.v3.min.js"></script>
            {% include "vGraph.html" %}
            <!-- <div class="col-sm-5 col-md-5"> -->
            {% if vGraph_json %}
            <!--   <p> {{vGraph_json}} </p> -->
              <script type="text/javascript">
                  var data = '{{vGraph_json|escapejs}}'
                  update(data)
              </script>
            {% endif %}
          <!-- <div class="form-group" style="margin-top:50px"> -->
          <div class="form-group">
            <label class="col-sm-offset-1 col-sm-5 col-md-offset-1 col-md-5 control-label">Version Graph of CVD: </label>
            <div class="col-sm-5  col-md-5 selectContainer">
              <form action="." method="post" class = "form-inline"> {% csrf_token %}
            <!--     <select class="form-control" id = "cvd_selection" onchange = "cvdChange()"> -->
                <select class="form-control" name = "cvd_selection" id = "cvd_selection">
                  <option selected="selected"> ----SELECT---- </option>
                  {% if cvds %}
                    {% for cvd in cvds %}
                      <!-- <option value = "">{{cvd.name}}</option> -->
                      <option {% if cvd == selected_cvd %} selected="selected" {% endif %}> {{cvd}} </option>
                    {% endfor %}
                  {% endif %}
                </select>
                <input type="submit" class="btn btn-primary" name = "vGraph" value="Submit" />
              </form>
            </div>
          </div>
          <div style="margin-top:100px" class="col-sm-offset-2 col-md-offset-2" >


            <button type="submit" onclick="prepopulate_checkout_cmd()" class="btn btn-primary">Checkout</button>
            <button type="submit" onclick="prepopulate_query_cmd()" class="btn btn-primary">Query</button>
            <button type="submit" onclick="prepopulate_explore_cmd()" class="btn btn-primary">Explore</button>
          <form action="." method="post" style="display: inline;"> {% csrf_token %}
            <input type="submit" class="btn btn-primary"  onclick="prepopulate_view_cmd()" name = "view_btn" value="View" />
            <input type="submit" class="btn btn-primary"  onclick="prepopulate_diff_cmd()" name = "diff_btn" value="Diff" />
            <input type="submit" class="btn btn-primary"  onclick="prepopulate_info_cmd()" name = "info_btn" value="Info" />
            <input type="submit" class="btn btn-primary" onclick="prepopulate_show_cmd()" name = "show_btn" value="Show" />
        <!--     <button type="submit" onclick="prepopulate_view_cmd()" class="btn btn-primary">View</button>
        -->
        <!-- <button type="submit" onclick="prepopulate_diff_cmd()" name = "diff_btn" value="Diff" class="btn btn-primary">Diff</button> -->
        <!--     <button type="submit" onclick="prepopulate_info_cmd()" class="btn btn-primary">Info</button> -->
            <input type="hidden" name="cmdExec" id="cmdExec" />
          </form>

          </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "/assets/js/vendor/jquery.min.js" %}"><\/script>')</script>
    <script src="{% static "/dist/js/bootstrap.min.js" %}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static "/assets/js/vendor/holder.min.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "/assets/js/ie10-viewport-bug-workaround.js" %}"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>


  </body>
</html>
